@model BeerFestTestEntityCodeFirst.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div>
        <div class="detailstitle"><img src="@Model.IconLink" class="titleimagebrowser" /></div>
        <div class="detailstitle"><span class="align-middle">@Html.DisplayFor(model => model.Name)</span></div>
        <div class="cleardiv"></div>
    </div>
    <div>
        <a href="@Url.Action("Details", "BeerEvent", new { id=Model.EventID })">Check out the beers!</a>
    </div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Start
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            End
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Hours
        </dt>
        <dd>
            <table>
                @foreach (var item in Model.EventHours)
                {
                    <tr>
                        <td>@item.Date.Value.ToString("yyyy/MM/dd (ddd)")</td>
                        <td>@item.StartTime.Value.ToString("t") - @item.FinishTime.Value.ToString("t") (Gates Open: @item.GatesOpen.Value.ToString("t") / Last Call @item.LastCall.Value.ToString("t"))</td>
                    </tr>
                }
            </table>
        </dd>




                <dt>
                    @Html.DisplayNameFor(model => model.TicketPrice)
                </dt>

                <dd>
                    ￥@Model.TicketPrice.Value.ToString("G29")
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PreOrderTicketPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PreOrderTicketPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketSalesStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketSalesStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PreOrderTicketSalesEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PreOrderTicketSalesEnd)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.TwitterUserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TwitterUserName)
                </dd>

            </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
