@model BeerFestTestEntityCodeFirst.Models.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EventID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventFinish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventFinish)
                @Html.ValidationMessageFor(model => model.EventFinish)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketPrice)
                @Html.ValidationMessageFor(model => model.TicketPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreOrderTicketPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreOrderTicketPrice)
                @Html.ValidationMessageFor(model => model.PreOrderTicketPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketSalesStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TicketSalesStart)
                @Html.ValidationMessageFor(model => model.TicketSalesStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreOrderTicketSalesEnd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreOrderTicketSalesEnd)
                @Html.ValidationMessageFor(model => model.PreOrderTicketSalesEnd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComingSoon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComingSoon)
                @Html.ValidationMessageFor(model => model.ComingSoon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MonthOnly, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MonthOnly)
                @Html.ValidationMessageFor(model => model.MonthOnly)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TwitterUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TwitterUserName)
                @Html.ValidationMessageFor(model => model.TwitterUserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IconLink, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IconLink)
                @Html.ValidationMessageFor(model => model.IconLink)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
