@model BeerFestTestEntityCodeFirst.Models.Beer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Beer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BeerID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ABV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ABV)
                @Html.ValidationMessageFor(model => model.ABV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IBU, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IBU)
                @Html.ValidationMessageFor(model => model.IBU)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Edited, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edited)
                @Html.ValidationMessageFor(model => model.Edited)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageID)
                @Html.ValidationMessageFor(model => model.ImageID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeerStyleID, "BeerStyleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BeerStyleID", String.Empty)
                @Html.ValidationMessageFor(model => model.BeerStyleID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
