@model IEnumerable<BeerFestTestEntityCodeFirst.Models.Event>
@{
    ViewBag.Title = "Home Page";
}
<div class="testdiv">
    @foreach (var item in Model)
    {
        <div class="titlemaindiv">
            <div class="titlesubdiv">
                <img src="@item.IconLink" class="titleimagebrowser" />
            </div>
            <div class="titlesubdiv">
                <div>@item.Name</div>
                <div>@item.StartDate.Value.ToString("yyyy/MM/dd") (@item.StartDate.Value.ToString("ddd")) ~ @item.EndDate.Value.ToString("yyyy/MM/dd") (@item.EndDate.Value.ToString("ddd"))</div>
            </div>
        </div>
    }
</div>